body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-page, .quiz-page, .results-page {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    position: relative;
}

.question ul {
    list-style-type: none;
    padding: 0;
}

.question li {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.question li:hover {
    background-color: #f0f0f0;
}

.loader {
    font-size: 24px;
    font-weight: bold;
}

.feedback {
    font-size: 18px;
    margin-top: 20px;
}

.data-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.overlay-correct {
    animation: blink-green 1s linear 1;
}

.overlay-incorrect {
    animation: blink-red 1s linear 1;
}

@keyframes blink-green {
    0%, 100% {  background-color: rgba(255, 255, 255, 0.9); }
    30% { background-color: rgba(50, 222, 132, 0.5); }
}

@keyframes blink-red {
    0%, 100% {  background-color: rgba(255, 255, 255, 0.9); }
    30% { background-color: rgba(253, 92, 99, 0.5); }
}